body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.pasajeros-box {
  border: 2px solid #3b90c7;
  border-radius: 20px;
  padding: 15px 25px;
  margin-bottom: 40px;
  background-color: white;
  text-align: left;
    width: 100%;
}

.subtitulo-tabla {
  font-weight: bold;
  color: #2a7bbd;
  margin-bottom: 15px;
}

.tabla-pasajeros table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tabla-pasajeros th,
.tabla-pasajeros td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.tabla-pasajeros th {
  background-color: #f2faff;
  color: #333;
}