/* Sticky footer: el footer siempre en el extremo inferior */
.inicio-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inicio-main-content {
  flex: 1 0 auto;
}

.ticket-footer {
  flex-shrink: 0;
  /*padding: 12px 0 8px 0;*/
  text-align: center;
  color: #444;
  background: none;
  font-size: 0.98rem;
}



